# Environment variables for FastAPI backend

# DATABASE
DB_TYPE="mysql+pymysql"
DB_HOST="host"
DB_USERNAME="user"
DB_PASSWORD="password"
DB_NAME="dbname"

# ADDITIONAL SETTINGS
SECRET_KEY="your-super-secret-key-here"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440